# DEC-11 JSQL

### Import Libraries

In [1]:
import json

### Getting Inputs

In [2]:
# testcase 1

x = """
{
   "table name":"my_table",
   "headers":{
      "1":{
         "column name":"id",
         "data type":"integer"
      },
      "2":{
         "column name":"name",
         "data type":"varchar(30)"
      }
   },
   "records":{
      "1":[
         1,
         "Josh"
      ],
      "2":[
         2,
         "Mike"
      ],
      "3":[
         3,
         "Tom"
      ]
   }
}
"""

### Parse Json

### Function to get SQL statements

In [3]:
def jsql(x):
    
    #Parse JSON
    y = json.loads(x)
    
    #Get SQL statements
    output = "CREATE TABLE "
    output += y["table name"]
    output += " ("

    for key,val in y["headers"].items():
        output += val["column name"]
        output += " "
        output += val["data type"]
        output += ","

    output += "\b);\n"
    
    for key,val in y["records"].items():
        output += "INSERT INTO "
        output += y["table name"]
        output += " values "
        output += "("
        output += str(val)[1:]
        output += '\b'
        output += ");"
        output += '\n'
    
    return output

### ANSWER FOR TESTCASE

In [4]:
answer = jsql(x)
print(answer)

CREATE TABLE my_table (id integer,name varchar(30),);
INSERT INTO my_table values (1, 'Josh']);
INSERT INTO my_table values (2, 'Mike']);
INSERT INTO my_table values (3, 'Tom']);

### ANSWER FOR SAMPLE INPUT

In [5]:
import urllib

In [6]:
link = "https://raw.githubusercontent.com/SVCE-ACM/A-December-of-Algorithms-2020/main/src/assets/dec%2011%20sample%20input.json"
f = urllib.request.urlopen(link)
myfile = f.read()

In [7]:
answers = jsql(myfile)
print(answers)

CREATE TABLE books (id integer,book_name varchar(30),price integer,page_count integer,);
INSERT INTO books values (1, 'Harry Potter', 1200, 330]);
INSERT INTO books values (2, 'Sherlock Holmes', 800, 280]);
INSERT INTO books values (3, 'Iron Man', 500, 200]);
INSERT INTO books values (4, 'Batman vs Superman', 1000, 300]);